// @import url('./variables/index.scss');

$border-radius: 20px;

// colors
$font-color: #009379;
$text-color: #2d2d2d;

//FONT SİZE
$font-size-button: 15px;
$font-size-p: 16px;
$font-size-title: 38px;

//FONT WEİGHT
$font-weight-button: 500;
$font-weight-p: 400;
$font-weight-title: 700;



*::after,
*::before {
   box-sizing: border-box;
}
* {
   padding: 0;
   margin: 0;
}
body {
   font-family: 'Poppins', serif;
   background-color: #f8f9ff;
}
.justify-center {
   justify-content: center;
}
.align-items-center {
   align-items: center;
}
.d-flex {
   display: flex;
}
.flex-column {
   flex-direction: column;
}
.text-center {
   text-align: center;
}
.container {
   max-width: 1100px;
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   padding-left: 15px;
   padding-right: 15px;
   @media (max-width: 1199.9px) {
      max-width: 90%;
   }
}
.btn-text {
   color: $font-color;
   border: none;
   font-size: $font-size-button;
   border-radius: $border-radius;
   padding: 1rem 2rem;
   background: transparent;
   font-family: 'Poppins', serif;
   font-weight: $font-weight-button;
   cursor: pointer;
   @media (max-width: 1199.9px) {
      padding: 1rem 2rem;
      font-size: 13px;
   }
   @media (max-width: 991.9px) {
      display: none;
   }
}
a {
   text-decoration: none;
   color: $font-color;
}
.btn-text:hover {
   opacity: 1;
   background-color: #e5f4f2;
}
.btn-text:active {
   background-color: $font-color;
}
.btn-tool {
   color: $font-color;
   border: none;
   font-size: $font-size-button;
   border-radius: $border-radius;
   padding: 1rem 2rem;
   background-color: #e5f4f2;
   font-family: 'Poppins', serif;
   font-weight: $font-weight-button;
   cursor: pointer;
   text-decoration: none;
   @media (max-width: 1199.9px) {
      padding: 1rem 2rem;
      font-size: 13px;
   }
   @media (max-width: 991.9px) {
      padding: 1rem 1.5rem;
      font-size: 12px;
   }
   @media (max-width: 769.9px) {
      display: none;
   }
   a {
      color: $font-color;
   }
   &:hover {
      opacity: 1;
      background-color: #d2d4d4;
   }
   &:active {
      opacity: 1;
      background-color: #767676;
   }
}
.btn-filled {
   color: #fff;
   background-color: $font-color;
   border: none;
   font-size: $font-size-button;
   border-radius: $border-radius;
   padding: 1rem 2rem;
   font-family: 'Poppins', serif;
   gap: 10px;
   font-weight: $font-weight-button;
   cursor: pointer;
   @media (max-width: 1199.9px) {
      padding: 1rem 2rem;
      font-size: 13px;
   }
   @media (max-width: 991.9px) {
      padding: 1rem 1.5rem;
      font-size: 12px;
      gap: 5px;
   }
   @media (max-width: 549.9px) {
      padding: 1rem 1rem;
      font-size: 11px;
   }
   @media (max-width: 439.9px) {
      font-size: 10px;
      padding: 0.75rem 0.6rem;
   }
   @media (max-width: 379.9px) {
      padding: 0.5rem 0.6rem;
   }
   a {
      text-decoration: none;
      color: #fff;
      align-items: center;
      display: flex;
   }
   &:hover {
      opacity: 1;
      background-color: #d2d4d4;
   }
   &:active {
      opacity: 1;
      background-color: $font-color;
   }
   img {
      height: 25px;
      width: auto;
      @media (max-width: 1199.9px) {
         height: 22px;
      }
      @media (max-width: 991.9px) {
         height: 18px;
      }
      @media (max-width: 549.9px) {
         height: 19px;
      }
      @media (max-width: 439.9px) {
         height: 17px;
      }
   }
}
header {
   display: flex;
   justify-content: center;
   .logo {
      img {
         @media (max-width: 769.9px) {
            height: 30px;
         }
         @media (max-width: 549.9px) {
            height: 25px;
         }
         @media (max-width: 439.9px) {
            height: 20px;
         }
      }
   }
   .navbar {
      justify-content: space-between;
      padding: 1rem 0;
   }
   .toolbar {
      gap: 25px;
   }
}
.home-slider {
   padding: 9rem 0 9rem 0;
   @media (max-width: 1024.9px) {
      padding: 7rem 0 7rem 0;
   }
   @media (max-width: 439.9px) {
      padding: 3rem 0 3rem 0;
   }
   .midle {
      @media (max-width: 1024.9px) {
         flex-direction: column;
         text-align: center;
         align-items: center;
      }
      .left-column {
         width: 60%;
         @media (max-width: 1024.9px) {
            width: 100%;
         }
         h1 {
            font-size: 67px;
            font-weight: $font-weight-title;
            margin-bottom: 1rem;
            color: $text-color;
            @media (max-width: 1199.9px) {
               font-size: 60px;
            }
            @media (max-width: 549.9px) {
               font-size: 55px;
            }
            @media (max-width: 439.9px) {
               font-size: 40px;
            }
         }
         p {
            font-size: 21px;
            font-weight: $font-weight-p;
            margin-bottom: 2rem;
            color: $text-color;
            @media (max-width: 1199.9px) {
               font-size: $font-size-p;
            }
            @media (max-width: 549.9px) {
               font-size: 13px;
            }
            @media (max-width: 439.9px) {
               font-size: 15px;
               br {
                  display: none;
               }
            }
            a {
               text-decoration: none;
               color: #005eff;
            }
         }
      }
      .btn {
         gap: 25px;
         .btn-tool {
            @media (max-width: 1024.9px) {
               display: none;
            }
         }
         @media (max-width: 1024.9px) {
            justify-content: center;
            margin-bottom: 3rem;
         }
      }
      .right-column {
         width: 40%;
         @media (max-width: 1024.9px) {
            width: 100%;
         }
         img {
            height: 400px;
            width: auto;
            @media (max-width: 1199.9px) {
               height: 370px;
            }
            @media (max-width: 1024.9px) {
               height: 320px;
            }
            @media (max-width: 439.9px) {
               height: 285px;
            }
         }
      }
   }
}
hr {
   display: flex;
   border: 1px solid #d8d8d8;
}
.section-2 {
   padding: 4rem 0 4rem 0;
   @media (max-width: 1024.9px) {
      padding: 2rem 0 2rem 0;
   }
   @media (max-width: 439.9px) {
      padding: 0.5rem 0 0.5rem 0;
   }
   .image {
      padding: 4rem 0 4rem 0;
      overflow-y: hidden;
      overflow-x: auto;
      gap: 20rem;
      max-width: 100%;
      @media (max-width: 659.9px) {
         overflow-x: hidden;
         overflow-y: auto;
         flex-wrap: wrap;
         gap: 5rem;
         max-height: 100px;
      }
      @media (max-width: 439.9px) {
         gap: 2.5rem;
      }
      img {
         height: 35px;
         width: auto;
         @media (max-width: 1199.9px) {
            height: 27px;
         }
         @media (max-width: 991.9px) {
            height: 23px;
         }
         @media (max-width: 769.9px) {
            height: 25px;
         }
         @media (max-width: 659.9px) {
            height: 30px;
         }
         @media (max-width: 379.9px) {
            height: 20px;
         }
      }
   }
   ::-webkit-scrollbar-track {
      -webkit-box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      background-color: #f5f5f5;
   }
   ::-webkit-scrollbar {
      background-color: transparent;
   }
   ::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: $font-color;
   }
}
.section-3 {
   padding: 7rem 0 7rem 0;
   @media (max-width: 1024.9px) {
      padding: 6rem 0 6rem 0;
   }
   @media (max-width: 549.9px) {
      padding: 10rem 0 10rem 0;
   }
   @media (max-width: 439.9px) {
      padding: 8rem 0 8rem 0;
   }
   .title {
      h1 {
         font-size: 38px;
         font-weight: $font-weight-title;
         margin-bottom: 1rem;
         color: $text-color;
      }
      p {
         font-size: $font-size-p;
         font-weight: $font-weight-p;
         margin-bottom: 4rem;
         color: $text-color;
      }
   }
   .swiper-wrapper {
      gap: 20px;
      @media (max-width: 1024.9px) {
         flex-direction: column;
      }
      .card {
         background-color: #ffffff;
         border: 1px solid #e5f4f2;
         padding: 2rem 2rem;
         border-radius: $border-radius;
         @media (max-width: 1024.9px) {
            padding: 2rem 10rem;
         }
         @media (max-width: 769.9px) {
            padding: 2rem 6rem;
         }
         @media (max-width: 549.9px) {
            padding: 2rem 3rem;
         }
         @media (max-width: 379.9px) {
            padding: 2rem 0.25rem;
         }
         .card-header {
            margin-bottom: 2rem;
            img {
               height: auto;
               width: 70px;
            }
         }
         .card-body {
            h3 {
               margin-bottom: 1rem;
               font-size: 25px;
               font-weight: $font-weight-title;
               color: $text-color;
            }
            p {
               font-size: $font-size-p;
               font-weight: $font-weight-p;
               color: $text-color;
            }
         }
         .btn-filled {
            background-color: transparent;
            color: $font-color;
            font-size: $font-size-p;
            padding: 1rem 1rem;
            &:hover {
               background-color: #d2d4d4;
            }
            &:active {
               background-color: $font-color;
            }
            a {
               text-decoration: none;
               color: $font-color;
               display: flex;
               gap: 10px;
            }
            img {
               height: 20px;
               width: auto;
            }
         }
      }
   }
}
