*::after,
*::before {
   box-sizing: border-box;
}
* {
   padding: 0;
   margin: 0;
}

body {
   font-family: 'Poppins', serif;
   font-style: normal;
   background-color: #f8f9ff;
}
header {
   display: flex;
   justify-content: center;

   .logo {
      align-items: center;
      display: flex;
   }
   .navbar {
      display: flex;
      justify-content: center;
      gap: 19rem;
   }
   .toolbar {
      display: flex;
      gap: 25px;
   }
}

.btn-text {
   color: #009379;
   border: none;
   font-size: 15px;
   border-radius: 20px;
   padding: 1rem 3rem;
   background: transparent;
}

.btn-tool {
   color: #009379;
   border: none;
   font-size: 15px;
   border-radius: 20px;
   padding: 1rem 3rem;
   background-color: #e5f4f2;
}

.btn-filled {
   color: #fff;
   display: flex;
   align-items: center;
   background-color: #009379;
   border: none;
   font-size: 15px;
   border-radius: 20px;
   padding: 1rem 3rem;
   gap: 10px;

   img {
      height: 25px;
      width: auto;
   }
}
.home-slider {
   .midle {
      display: flex;
      padding: 4rem 0;
   }
   .left-column {
      width: 60%;
      h1 {
         font-size: 67px;
         font-weight: 700;
         margin-bottom: 1rem;
      }
      p {
         font-size: 21px;
         font-weight: 400;
         margin-bottom: 2rem;
         a {
            text-decoration: none;
            color: #005eff;
         }
      }
   }
   .btn {
      display: flex;
      gap: 25px;
   }
   .right-column {
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
         height: 400px;
         width: auto;
      }
   }
}
hr {
   display: flex;
   border: 1px solid #d8d8d8;
}
.section-2 {
   .image {
      gap: 6rem;
      display: flex;
      padding: 2rem 0;
      img {
         height: 35px;
         width: auto;
      }
   }
}
.container {
   max-width: 1200px;
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   padding: 1rem 3rem;
}
