*::after,
::before {
   box-sizing: border-box;
}
* {
   padding: 0;
   margin: 0;
}
.swiper {
   padding: 10rem 0 0 0;
   .swiper-slide {
      display: flex;
      justify-content: center;
      padding: 5rem 0;
      img {
         width: auto;
         height: 75px;
      }
   }
}
.container {
   max-width: 1200px;
   width: 100%;
   margin-left: auto;
   margin-right: auto;
}
